<div class="card">
  <div class="card-header bg-dark">
    <h3 class="card-tittle text-white">
      <i class="far fa-image"></i> Cargar imagen
    </h3>
  </div>
  <div class="card-body">
    {{!-- enctype="multipart/form-data": enviaremos un archivo pesado por el formulario --}}
    <form action="/images" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inputGroupFile" required>
            <label class="custom-file-label" for="inputGroupFile">Escoge una imagen</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="Titulo para la imagen" required>
      </div>
      <div class="form-group">
        <textarea name="description" rows="2" class="form-control" placeholder="Descripción de la imagen" required></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-upload"></i> Cargar imagen
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header bg-dark text-white">
    <h3><i class="far fa-images"></i> Cargas recientes </h3>
  </div>
  <div class="card-body">
    <div class="row">
      {{#each images}}
      <div class="col-md-4 text-center mb-2">
        <a href="/images/{{ uniqueId  }}">
          <img src="/public/upload/{{filename}}" alt="{{title}}" class="w-100 h-100 img-thumbnail">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
