<div class="card mb-2">
  <div class="card-header bg-dark text-white">
    <h5>
      <i class="fab fa-hotjar"></i> Mas Populares
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      {{#each sidebar.popular}}
      <div class="col-md-4 text-center">
        <a href="/images/{{ uniqueId  }}">
          <img src="/public/upload/{{filename}}" alt="{{title}}" class="w-100 h-100 img-thumbnail">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>