<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- BOOTSTRAP --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"> --}}
  {{!-- CUSTOM CSS --}}
  <link rel="stylesheet" href="/public/css/style.css">
  {{!-- FONT AWASOME --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  <title>ImageShare</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src= "/public/img/imgshare-logo.png" alt="logo">
      </a>
    </div>
  </nav>

  <div class="container p-4">
    <div class="row">
      <div class="col-md-8">
        {{{ body }}}
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
  {{!-- Scripts! --}}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="/public/js/scripts.js"></script>
</body>
</html>